<%- include("./partials/header") %>
    <main class="main">
      <div class="forminp ">
        <a href="/"><i class=" backarrow ri-arrow-left-line"></i></a>
        <br>
        <br>
        <h1>update user details !</h1>
        
       
        <form action="/user/update/<%=id%>" method="post" ">
          <input value="<%=user.name%>" type="text" name="name" id="" placeholder="enter your name">
          <input value="<%=user.username %>" type="text" name="username" id="" placeholder="enter your username">
          <input value="<%=user.email %>" type="email" name="email" id="" placeholder="enter your email">
         
          <br>
          <input type="submit" name="" id="" class="btn">

        </form>
      </div>
    </main>
  
    <%- include("./partials/footer") %>
